.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button {
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  color: white;
  background: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background: rgb(134, 2, 2);
}

.button:focus {
  outline: none;
  
}

.logo {
  max-width: 250px;
  width: 40vw;
  margin: 2.5rem 0;
}
